@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font: normal 1.1em Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
    background-color: lightblue;
    color: white;
    text-align: center;
}

header{

}

section{
    color: black;
    width: 500px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418);
}

footer{
    font-style: italic;
}