@charset "UTF-8";



body{
    background-color: lightblue;
    color: white;
    
}

header{
    text-align: center;
}

section{
    color: black;
    width: 500px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.418);
}

footer{
    text-align: center;
    font-style: italic;
}